$pinnar-grey: #3A3C3D;
$pinnar-orange: #EB6126;
$pinnar-orange-dark: #C0392B;
$pinnar-blue-dark: #171928;
$pinnar-blue-light: #0056A1;
$pinnar-blue-light-extra: #40BAC8;
$pinnar-grey-fill: #F0F0F0;
$pinnar-grey-strong: #828282;
$pinnar-grey-line: #BDBDBD;
