@import url('https://fonts.googleapis.com/css?family=Lato');


h1, h2, h3, h4, h5, h6, p, span, ul, li, a{
  font-family: 'Raleway-Light', sans-serif;
}

.btn-cta{
  background-color: red;
  color: white;
  text-transform: uppercase;
}
