/* Header CSS */
.navbar-toggleable-md{
  flex-direction: row-reverse;
  text-transform: uppercase;
}

a.nav-link{
  color: white;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  letter-spacing: 1.5px;
  line-height: 100%;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
}

.navbar-toggleable-md .navbar-collapse{
  flex-direction: row-reverse;
  z-index: 100;
}

#navbarNavDropdown{
  padding-top: 15px;
}

#wrapper-navbar{
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar-brand{
  z-index: 100;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: white;
  text-transform: none;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5px;
}
