/* Header CSS */
.navbar-toggleable-md{
  flex-direction: row-reverse;
  text-transform: uppercase;
}

a.nav-link{
  color: white;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  letter-spacing: 1.5px;
}

.navbar-toggleable-md .navbar-collapse{
  flex-direction: row-reverse;
  z-index: 100;
}


#wrapper-navbar{
  background-color: transparent;
}

.navbar-brand{
  z-index: 100;
  color: #fff;
  text-transform: none;
  font-size: 37px;
  letter-spacing: 4px;
}
