/* Header CSS */
.navbar-toggleable-md{
  flex-direction: row-reverse;
  text-transform: uppercase;
}

.navbar-toggleable-md .navbar-nav .nav-link{
  color: white;
  letter-spacing: 1px;
  line-height: 100%;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 14px;
  // Responsive
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-toggleable-md .navbar-collapse{
  flex-direction: row-reverse;
  z-index: 100;
}

#navbarNavDropdown{
  padding-top: 15px;
}

#wrapper-navbar{
  background-color: transparent;
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar-brand{
  z-index: 100;
  font-family: Raleway;
  font-size: 29px;
  line-height: 100%;
  color: #fff;
  text-transform: none;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 5px;
}
