.heading-index{
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: $pinnar-grey;
  }


.container-slide{
  & > div.layer-slide{
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(242, 242, 242, 0.25) 0%, rgba(0, 86, 161, 0.5) 100%);
    opacity: 1.00;
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
    top: 0px;
  }
  background-blend-mode: darken;
  background-image: url('../../../uploads/2017/01/madrid.jpg');
  background-blend-mode: darken;
  opacity: 1.00;
  height: 80%;
  height: 700px;
  margin: 0px;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  & > div{
    & > div{
      & > div.layer{
        text-align: center;
        color: #fff;
        position: absolute;
        top: 295px;
        width: 100%;
        & > h1{
          font-style: normal;
          font-weight: 600;
          font-size: 54px;
          line-height: 100%;
          letter-spacing: 0.15px;
          color: white;
          text-transform: uppercase;
        }
        & > h3{
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 100%;
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
}

div.container.container-services{
  margin-bottom: 5%;
  margin-top: 5%;
  & > div.row{
    & > div{
      padding: 5%;
      & > div.wrapper-service{
        text-align: center;
        & > i{
          font-size: 48px;
        }
      }
    }
  }
}

#section-band-image{
  background: url('../../../uploads/2017/02/section_2.png');
  position: relative;
  & > div{
    padding: 5%;
    vertical-align: middle;
    & > h3{
      color: white;
      width: 70%;
      display: inline;
    }
    & > button{
      float: right;
    }
  }
  & > div.layer-band-image{
    background-color: $pinnar-blue-dark;
    opacity: $layer-opacity;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

div.container.container-clients{
  padding-bottom: 15%;
  padding-top: 15%;
  & > div.row{
    & > div{
      text-align: center;
      & > img{
        width: 18%;
        padding: 5px;
      }
      & > h4{
        margin-bottom: 2rem;
        color: grey;
      }
    }
  }
}

div.container.container-opinions{
  background: url('../../../uploads/2017/02/law_2.jpg');
  width: 100%;
  text-align: center;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  background-position-y: center;
  background-position-x: center;
  margin-bottom: 5%;
  margin-top: 5%;
  & > div.layer-opinions{
    background: $pinnar-blue-dark;
    opacity: $layer-opacity;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  & > div.row{
    padding: 10%;
  }
}

div.card.card-basic{
  background-color: $pinnar-grey-fill;
  width: 100%;
  border-radius: 0px;
  border: none;
  & > div.card-block{
    background: $pinnar-blue-dark;
    color: white;
    text-align: center;
    & > h4{
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
    & > p{
      font-size: 16px;
      font-weight: 100;
    }
  }
  & > div.card-body{
    padding: 20px;
    text-align: center;
    background-color: $pinnar-grey-fill;
    & > h1{
      font-weight: 400;
      font-size: 55px;
      text-align: center;
      & > span{
        font-size: 36px;
        vertical-align: middle;
        top: 32%;
      }
    }
    & > ul.list-group.list-group-flush{
      text-align: center;
      background-color: $pinnar-grey-fill;
      & > li{
        & > p{
          margin: auto;
          color: $pinnar-grey-strong;
          font-size: 14px;
          font-weight: 400;
        }
        width: 100%;
        background-color: $pinnar-grey-fill;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0px;
        border: none;
        border-bottom: $pinnar-grey-line solid 0.5px;
      }
    }
    & > button{
      margin-top: 25%;
    }
    & > p{
      font-size: 8px;
      font-style: italic;
      font-weight: 300;
    }
  }
}


div.card.card-basic.card-middle{
  flex: none;
  height: 120%;
  top: -10%;
  & > div.card-block{
    background: $pinnar-blue-light;
    height: 180px;
    flex: none;
  }
  & > div.card-body{
    & > img{
      position: relative;
      top: -71px;
    }
    padding: 5%;
    text-align: center;
    background-color: $pinnar-grey-fill;
    & > ul.list-group.list-group-flush{
      text-align: center;
      background-color: $pinnar-grey-fill;
      & > li{
        & > p{
          margin: auto;
          color: $pinnar-grey-strong;
          font-size: 14px;
          font-weight: 400;
        }
        width: 100%;
        background-color: $pinnar-grey-fill;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0px;
        border: none;
        border-bottom: $pinnar-grey-line solid 0.5px;
      }
    }
    & > button{
      margin-top: 25%;
    }
    & > p{
      font-size: 8px;
      font-style: italic;
      font-weight: 300;
    }
  }
}
