.heading-index{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

div.content-wrapper{
  position: absolute;
  top: 0px;
  width: 100%;
}

.container-slide{
  background-image: url('../../../uploads/2017/01/madrid.jpg');
  background-blend-mode: darken;
  opacity: 1.00;
  height: 80%;
  height: 700px;
  margin: 0px;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  & > div{
    & > div{
      & > div.layer{
        text-align: center;
        color: #fff;
        position: absolute;
        top: 295px;
        width: 100%;
        & > h1{
          font-weight: 600px;
          text-transform: uppercase;
        }
        & > h3{
          text-transform: uppercase;
        }
      }
    }
  }
}


div.container.container-services{
  margin-bottom: 5%;
  margin-top: 5%;
  & > div.row{
    & > div{
      & > div.wrapper-service{
        text-align: center;
        & > i{
          font-size: 48px;
        }
      }
    }
  }
}

#section-band-image{
  margin-bottom: 5%;
  margin-top: 5%;
  & > div{
    & > h3{

    }
    & > button{
      float: left;
    }
  }
}

div.container.container-clients{
  margin-bottom: 5%;
  margin-top: 5%;
  & > div.row{
    & > div{
      text-align: center;
      & > img{
        width: 18%;
        padding: 5px;
      }
      & > h4{
        margin-bottom: 2rem;
        color: grey;
      }
    }
  }
}


.card{
  & > h1{
    font-weight: 700;
    font-size: 70px;
    text-align: center;
  }
  & > div.card-block{
    text-align: center;
    & > p{
      font-style: italic;
    }
  }
  & > ul.list-group.list-group-flush{
    text-align: center;
    & > li{
      text-align: center;
      padding: 5px;
    }
  }
}
